<%- include('./shared/header.ejs') %>
<div class="container text-center home my-5">
  <h4>
    Sarahah allows you to receive constructive feedback from your friends and
    co-workers
  </h4>
  <div
    class="buttons d-flex justify-content-center align-items-center flex-column"
  >
    <a href="/login" class="btn-custom text-white my-4"
      ><i class="fas fa-user"></i> Login</a
    >
    <a href="/register" class="btn-custom text-white"
      ><i class="far fa-edit"></i> Register</a
    >
  </div>
</div>

<%- include('./shared/footer.ejs') %>
